* {
  box-sizing: border-box;
}

input.big {
    display: block;
    margin: 0 auto;
    font-size: 36px;
    padding: 10px;
    width: 400px;
}

.todo-list {
  margin-top: 40px;
}

.todo-list ul {
  list-style-type: none;
  width: 400px;
  margin: 40px auto;
  padding: 0;
}

.todo-list li {
  height: 36px;
  
}
